body {
    background: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    margin-bottom: 15px;
    float: right;
}

.media-object {
    width: 40px;
    height: 40px;
}

.media-body {
    padding-top: 10px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
    float:right;
}

.profile .section {
    margin-top: 15px;
}

.comment {
    margin: 10px 0;
}

.comment-btn {
    float: right;
    margin-bottom: 10px;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon{
    margin-right: 6px ;
    font-size: 15px;
    cursor: pointer;
}

.menu .active{
    color: #499ef3;
}

.menu .icon:hover{
  color: #499ef3;
}

.collapse-border{
    border: 1px solid #eee;
    margin-top: 10px;
    padding-top: 15px;
}

.media-body .content {
    margin-top: 15px;
    margin-bottom: 5px;
}